table {
  margin: 40px auto;
  border-collapse: collapse;
}
td {
  width: 250px;
  height: 250px;
  text-align: center;
  vertical-align: middle;
}

.square {
  position: relative;
  width: 80px;
  height: 80px;
  margin: auto;
}
.square div {
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 40px;
}
.square .topleft {
  border-color: blue transparent transparent transparent;
}
.square .topright {
  border-color: transparent yellow transparent transparent;
}
.square .bottomleft {
  border-color: transparent transparent green transparent;
}
.square .bottomright {
  border-color: transparent transparent transparent red;
}

.square-2 {
  position: relative;
  width: 200px;
  height: 200px;
  margin: auto;
}
.square-2 div {
  position: absolute;
  border-style: solid;
  border-width: 80px;
}

.square-2 .topleft {
  border-color: blue transparent transparent transparent;
}
.square-2 .bottomleft {
  border-color: transparent transparent green transparent;
}
.square-2 .bottomright {
  border-color: transparent transparent transparent red;
}

.triangle-down {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 100px 100px 100px 100px;
  border-color: blue transparent transparent transparent;
  margin: auto;
}

.circle {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: #3aaa35;
  margin: auto;
}

.circle-cut {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: #3aaa35;
  margin: auto;
  position: relative;
  overflow: hidden;
}

.circle-cut::before {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 75px;
  height: 100%;
  background: white;
}

.circle-cut-top {
  width: 150px;
  height: 75px;
  background: #3aaa35;
  border-radius: 0 0 75px 75px;
  margin: auto;
}
