* {
    margin: 0px;
    box-sizing: border-box;
}

#contenedor {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    border: 1vmax solid black;
    margin: 0.25vh;
    height: 99.5vh;
}

#flag {
    background-color: rgb(210, 0, 0);
    width: 50vmin;
    height: 50vmin;
    border-radius: 50%;
    margin: 25vmin;
}