* {
    height: 100%;
}

div.azul {
    background-color: blue;
    width: 50%;
    height: 50%;
    float: left;
}

div.rojo {
    background-color: rgb(255, 0, 0);
    width: 50%;
    height: 50%;
    float: right;
}

div.verde {
    background-color: rgb(0, 255, 76);
    width: 50%;
    height: 50%;
    clear: both;
    float: left;
}

div.amarillo {
    background-color: rgb(238, 255, 0);
    width: 50%;
    height: 50%;
    float: right;
}

.link-container {
    position: fixed;
    width: 20px;
    height: 20px;
   bottom: 60px;
    right: 60px;
    z-index: 1000;
}

.link-container a {
    display: inline-block;
    padding: 10px 15px;
    font-size: 14px;
    color: white;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.link-container a:hover {
    background-color: #0056b3;
}