h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

table {
  border-collapse: collapse;
  width: 300px;
  height: 300px;
  margin-left: 20vmin;
}

td {
  border: 1px solid black;
  padding: 0;
}

td div {
  width: 100%;
  height: 100%;
  background-color: #f0f0f0;
}

.center {
    text-align: center;
}

.caja {
  width: 400px;
  height: 300px;
  margin: auto;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: darkblue;
}

.box1 {
  background-color: antiquewhite;
  border-color: black;
  border-style: dotted;
  border-width: 5px;
  padding-top: 10%;
  padding-left: 10%;
}

.box2 {
  border-bottom-right-radius: 32px;
  border-top-right-radius: 32px;
  border: 2px solid black;
  border-left: 80px solid black;
  background-color: yellow;
}

.box3 {
  padding: 30px;
  background-color: salmon;
  border: 20px groove darksalmon;
  border-radius: 12px;
  padding-left: 40%;
  padding-top: 0;
}

.box4 {
  background-color: #3aaa3a;
  border: 20px inset rgb(0, 70, 9);
  border-top-right-radius: 80px;
  border-bottom-left-radius: 80px;
  padding: 15px;
}

.box5 {
  background-color: #ffe4c4;
  width: 300px;
  height: 300px;
  border: 5px dashed orange;
  border-radius: 50%;
  text-align: center;
  line-height: 270px;
  font-size: 160px;
  font-weight: bold;
}

.box6 {
  background-color: #e6e6ff;
  border-top: 32px solid blue;
  border-left: 32px solid blue;
  border-bottom: 32px solid rgb(0, 0, 70);
  border-right: 32px solid rgb(0, 0, 70);
  text-align: center;
  padding-top: 70px;
}

.box7 {
  background: linear-gradient(to bottom, red, yellow);
  border: 5px solid red;
  border-bottom: 32px solid red;
  text-align: center;
  padding-top: 70px;
}

.box8 {
  background-color: white;
  border-top: 32px solid yellow;
  border-left: 32px solid blue;
  border-bottom: 32px solid red;
  border-right: 32px solid green;
  box-sizing: border-box;
  padding: 5px;
}

.box9 {
  background-color: white;
  border: 32px solid purple;
  border: 32px double purple;
  border-radius: 40px;
  text-align: center;
  padding-top: 70px;
}
